{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 3,
        "shippedProposals": true,
        "modules": "commonjs",
        "targets": {
          "node": 4
        }
      }
    ]
  ]
}
